@use '../../styles/abstracts';

// Header
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  background-color: abstracts.$mobile-nav-color;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    max-width: 1024px;
  }
}

// Nav
nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid abstracts.$nav-color;
  border-bottom: 1px solid abstracts.$nav-color;
  margin: 2rem 5% 2rem 5%;
  padding: 2rem;

  ul {
    display: flex;

    li {
      list-style-type: none;
      margin: 0 1rem;

      a {
        @extend %nav-style;
      }
    }
  }
}

// Klass för aktiv-länk
.active {
  color: abstracts.$light-text-color !important;
  text-decoration: underline !important;
  text-decoration-color: abstracts.$light-text-color !important;
  text-underline-offset: 0.5rem !important;
  background-color: darken(abstracts.$mobile-nav-color, 20%) !important;
  padding: 0.5rem 1rem 1rem 1rem !important;
  border-radius: 5px !important;
}

// Styling för enheter mindre än 800px bredd
@media (max-width: 800px) {

  // Döljer nav-menyn
  #menu {
    display: none;
  }
  header {
    padding: 0;
  }
}