<!-- Header innehållande navmeny, använder Angulars routing och active-komponent för länkar -->
<header>
    <a routerLink="/home"><img src="../assets/images/juni_logo.svg" alt="Logotyp Juni Converter"></a>
    <nav id="menu">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Startsida</a></li>
            <li><a routerLink="/convert" routerLinkActive="active">Konvertering</a></li>
            <li><a routerLink="/about" routerLinkActive="active">Om sidan</a></li>
        </ul>
    </nav>
</header>