/* You can add global styles to this file, and also import other style files */

@use 'abstracts';

// Globala värden
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typografi
html {
    font-size: 62.5%;
    height: 100%;
}

// Body
body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: abstracts.$font-text;
    font-weight: 400;
    background-color: abstracts.$bg-color-white;
    color: abstracts.$text-color;
    height: 100%;
}

// Huvudinnehåll
main {
    @include abstracts.center-flex();
    background: abstracts.$bg-color-white;
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 1rem auto;
    padding: 2rem;
    position: relative;
  }

/* Styling för rubriker, mixin för gemensamma egenskaper */
h1 {
    @include abstracts.heading-style(3.6rem, 4rem, 700);
    text-align: center;
    letter-spacing: 0.5rem;
    color: abstracts.$primary-color;
    margin: 2rem 0 2rem 0;
}

h2 {
    @include abstracts.heading-style(2.6rem, 3.6rem, 600);
    margin: 4rem 0 2rem 0;
}

h3 {
    @include abstracts.heading-style(2.2rem, 3.2rem, 600);
    margin: 2rem 0 2rem 0;
}

h4 {
    @include abstracts.heading-style(2rem, 3rem, 600);
    margin: 2rem 0 1rem 0;
}

// Styling för paragrafer
p {
    margin: 1.5rem 0;
    max-width: 75ch;
}

// Styling för sektioner
section {
    width: 100%;
    max-width: 900px;
}

// Styling för länkar
a {
    color: abstracts.$link-color;

    &:hover {
        color: abstracts.$hover-color;
    }
}

// Styling för labels
label {
    @include abstracts.heading-style(1.6rem, 2.6rem, 600);
    margin-bottom: 0.5rem;
}

// Döljer overlay initialt
#overlay.hidden {
    display: none;
}

// Klass för opacitet när mobilmeny öppnas (JS)
#overlay.opacity {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin: 2rem 0 0 0;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    main {
        width: 100%;
    }
}