.convert-calculator {
    width: 100%;
    max-width: 500px;

    #length-convert {
        margin: 4rem 0 4rem 0;
    }

    #temperature-convert {
        border-top: 1px solid black;
        padding: 2rem 0 0 0;
        margin: 5rem 0 2rem 0;
    }
}