<div class="convert-calculator">
  <h2>Konvertera värden</h2>
  <div id="length-convert">
    <h3>Längdkonvertering</h3>
    <label for="meter">Meter till Fot</label>
    <!-- Använder ngModel för tvåvägsbindning, anropar metod vid input -->
    <input type="number" id="meter" [(ngModel)]="meter" (input)="convertToFeet()" placeholder="Meter">
    <label for="feet">Fot till Meter</label>
    <!-- Använder ngModel för tvåvägsbindning, anropar metod vid input -->
    <input type="number" [(ngModel)]="feet" (input)="convertToMeters()" placeholder="Feet">
    <div>
      <h4>Resultat</h4>
      <!-- Skriver ut resultat med interpolation, använder Angulars number pipe för att visa minst 1 siffra före decimaltecknet och mellan 0-2 siffror efter decimal -->
      <p>{{ meter | number:'1.0-2' }} meter = {{ feet | number:'1.0-2' }} fot</p>
      <p>{{ feet | number:'1.0-2' }} fot = {{ meter | number:'1.0-2' }} meter</p>
    </div>
  </div>

  <div id="temperature-convert">
    <h3>Temperaturkonvertering</h3>
    <label for="celsius">Celsius till Fahrenheit</label>
    <!-- Använder ngModel för tvåvägsbindning, anropar metod vid input -->
    <input type="number" id="celsius" [(ngModel)]="celsius" (input)="convertToFahrenheit()" placeholder="Celsius">
    <label for="fahrenheit">Fahrenheit till Celsius</label>
    <!-- Använder ngModel för tvåvägsbindning, anropar metod vid input -->
    <input type="number" [(ngModel)]="fahrenheit" (input)="convertToCelsius()" placeholder="Fahrenheit">
    <div>
      <h4>Resultat</h4>
      <!-- Skriver ut resultat med interpolation, använder Angulars number pipe för att visa minst 1 siffra före decimaltecknet och mellan 0-2 siffror efter decimal -->
      <p>{{ fahrenheit | number:'1.0-2' }}°F = {{ celsius | number:'1.0-2' }}°C</p>
      <p>{{ celsius | number:'1.0-2' }}°C = {{ fahrenheit | number:'1.0-2' }}°F</p>
    </div>
  </div>
</div>