<div id="flexbox">
    <div>
        <!-- Property-binding för bild, anropar metod vid klick-->
        <img [src]="catImage" alt="Katten Juni" (click)="toggleImage()">
        <!-- Property-binding för innerHTML, skriver ut olika strängar beroende på bild som visas -->
        <p id="cat-talk" [innerHTML]="catTalk"></p>
    </div>
    <section>
        <h2>Välkommen till Junis Universalkonverterare!</h2>
        <p>Vad kul att just du hittat hit! Det är jag som är katten Juni, och detta är min (j)universala
            konverteringsapplikation. Är du redo att ta steget från meter till fot, eller från Celsius till Fahrenheit
            utan besvär? Då har du har kommit till rätt ställe!</p>
        <!-- Använder routerLink för att länka till andra undersidor -->
        <p>Under fliken <a routerLink="/convert">Konvertering</a> kan du konvertera olika enhetsvärden med några
            få klick - och få svar direkt.</p>
        <button routerLink="/convert">Jag vill testa! <i class="fa-solid fa-paw"></i></button>
        <p>// Kattiga kramar från Juni.</p>
    </section>
</div>